<!-- app.component.html -->

<div class=" flex flex-col justify-between">
    <footer class="bg-pink-500 text-white p-4 flex items-center justify-center">
        <div class="">
            <!-- Social Icons -->
            <a href="https://www.linkedin.com/in/dineo-mathibela-53aa191a5/" target="_blank" class="text-white ml-10 hover:text-pink-700">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>
            <a href="https://github.com/MathibelaD" target="_blank" class="text-white mx-5 hover:text-pink-700">
                <i class="fab fa-github fa-lg"></i>
            </a>
            <!-- <p>let's connect</p> -->
            <div>&copy; {{ currentYear }}. Ms Mathibela</div>
        </div>
    </footer>
</div>