<section class="bg-pink-500  py-20 text-white">
    <div class="container mx-auto flex flex-col lg:flex-row items-center justify-center lg:justify-between px-4">
        <!-- Image on the left -->
        <div class="lg:w-1/2 mt-10 lg:mt-0 flex justify-center">
            <img src="assets/images/me.jpeg" alt="Image" class="w-64 rounded-full shadow-lg">
        </div>

        <!-- Text content on the right -->
        <div class="lg:w-1/2">
            <h1 class="text-4xl lg:text-6xl font-bold mt-4">Dineo Mathibela</h1>
            <h3 class="text-xl lg:text-xl font-bold ">Software Developer |
                <span id="developerRole" class="inline-block"></span>
            </h3>
            <div class="mt-4">
                <!-- Social login icons -->
                <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer"
                    class="text-purple-800 hover:text-gray-700 mr-4">
                    <i class="fab fa-linkedin fa-lg"></i>
                </a>
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer"
                    class="text-purple-800 hover:text-gray-700 mr-4">
                    <i class="fab fa-github fa-lg"></i>
                </a>
                <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"
                    class="text-purple-800 hover:text-gray-700">
                    <i class="fab fa-twitter fa-lg"></i>
                </a>
                <!-- Adjust the URLs and classes as needed -->
            </div>
            <p class="text-md lg:text-md font-medium leading-relaxed my-2">
                I thrive on crafting logical functions and solving complex challenges in web development. As a diligent
                problem-solving enthusiast and a graduate in Software Development, I specialize in writing clean and
                efficient code that powers seamless web experiences.
            </p>
            <div><button class="bg-pink-700 rounded-full p-2 px-4 text-white font-medium">Download Cv</button></div>
        </div>
    </div>
</section>