<nav class="bg-pink-500 shadow-lg">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-left h-16">
            <div class="flex">

                <div class="hidden md:block">
                    <!-- Navigation links -->
                    <ul class="flex space-x-4 mt-2 text-white  font-extrabold">
                        <li><a href="#"
                                class="hover:text-white hover:bg-pink-700 bg-pink-600 block px-3 py-2 rounded-full">Home</a>
                        </li>
                        <li><a href="#about"
                                class="hover:text-white hover:bg-pink-700 bg-pink-600 block px-3 py-2 rounded-full">About</a>
                        </li>
                        <li><a href="#projects"
                                class=" hover:text-white hover:bg-pink-700 bg-pink-600 block px-3 py-2 rounded-full">projects</a>
                        </li>
                        <li><a href="#skills"
                                class="hover:text-white hover:bg-pink-700 bg-pink-600 block px-3 py-2 rounded-full">Skills</a>
                        </li>
                        <li><a href="#contact"
                                class="hover:text-white hover:bg-pink-700 bg-pink-600 block px-3 py-2 rounded-full">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Mobile menu button (visible only on smaller screens) -->
            <div class="flex md:hidden items-center">
                <button id="mobile-menu-toggle" class="text-gray-300 hover:text-white focus:outline-none">
                    <!-- Icon for mobile menu -->
                    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile menu (hidden by default) -->
    <div id="mobile-menu" class="md:hidden hidden">
        <ul class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
            <!-- Mobile navigation links -->
            <li><a routerLink="/home" class="block text-gray-300 hover:text-white px-3 py-2 rounded-md">Home</a></li>
            <li><a routerLink="/about" class="block text-gray-300 hover:text-white px-3 py-2 rounded-md">About</a></li>
            <li><a routerLink="/projects" class="block text-gray-300 hover:text-white px-3 py-2 rounded-md">projects</a>
            </li>
            <li><a routerLink="/skills" class="block text-gray-300 hover:text-white px-3 py-2 rounded-md">Skills</a>
            </li>
            <li><a routerLink="/contact" class="block text-gray-300 hover:text-white px-3 py-2 rounded-md">Contact</a>
            </li>
        </ul>
    </div>
</nav>